nav {
    background: #2c3e50;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border: 4px solid #3498db;
}
input, textarea {
    width: 100%;
    padding: 10px;
}

button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.project-card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}